* {
    box-sizing: border-box;
}
body {
    font-family: "Chivo Mono", monospace;
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
    background: rgb(15, 15, 15);
    color: white;
}
section {
    height: 99vh;
    scroll-snap-align: start;
    display: flex;
    margin: 0;
}

#table h2, #table p{
    margin: 12vh 50px;
}

#default{
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#default > p, #default h2{
    margin: 20px 20%;
}

section h2 {
    font-size: 5vh;
    color: black;
    -webkit-text-stroke: white;
    -webkit-text-stroke-width: 1px;
}

#title {
    display: flex;
    justify-content: center;
    font-size: 5vh;
    flex-direction: column;
    align-items: center;
}

#title > *{
    margin-top: 10vh;
}

#title p {
    font-size: 2vh;
    margin-bottom: -15vh;
}

#title h1 {
    margin-top: 0vh;
    color: black;
    -webkit-text-stroke: white;
    -webkit-text-stroke-width: 2px;
}

h1, h2 {
    color: #333;
}

video {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    opacity: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 96vh;
}

.grid1 {
    width: 100%;
    margin: 30px 30vh;
    margin-bottom: 10vh;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 20% 80%;
    grid-row-gap: 30px;
    grid-column-gap: 100px;
    align-items: center;
}
.grid1 .topic{grid-area: 1/1;}
.grid1 .p1{grid-area: 1/2;}

.nextButton {
    text-align: right;
    font-size: x-small;
}

.diagram {
    width: 40vw;
}

.ref {
    background-color: rgb(0, 0, 0);
}
.ref h2 {
    color: green;
    -webkit-text-stroke: white;
    -webkit-text-stroke-width: 0px;
}